.big-button{
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    font-weight: bold;
    color: white;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
}